<form class="persoon">
	<label>
		{{#each usersDB}}
			{{this.name}}
		{{/each}}
	</label>
	<div>
		<div>
			<!-- landenlijst: https://www.zelfstudie.be/tools/landenlijst-contactformulier.html -->
			<label>
				{{#each usersDB}}
					{{this.nationaliteit}}
				{{/each}}
			</label>
			<label>
				{{#each usersDB}}
					{{this.geboortedatum}}
				{{/each}}
			</label>
			<label>
				{{#each usersDB}}
					{{this.geslacht}}
				{{/each}}
			</label>
		</div>
		<div>
			<label>
				{{#each usersDB}}
					{{this.bio}}
				{{/each}}
			</label>
		</div>
	</div>
</form>