<form class="reizen" action="profiel/reizen" method="POST">
	<label>Kies hier jouw continent:</label>
	<div>
		{{#each continents}}
			<label>{{this}}</label>
		{{/each}}
	</div>

	<div>
		<label>Kies hier de landen waar je heen wilt:</label>
		<div>
			{{#each countries}}
				{{#if (equals this.continent 'AF')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'AN')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'AS')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'EU')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'NA')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'OC')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>

		<div>
			{{#each countries}}
				{{#if (equals this.continent 'SA')}}
					<label><input type="checkbox" id="{{this.name}}" name="landen" value="{{this.name}}">{{this.name}}</label>
				{{/if}}
			{{/each}}
		</div>
	</div>

	<div>
      <button><img src="images/pijl-volgende.png" alt="Volgende pagina"></button>
   </div>

</form>

<footer>
	<img src="images/footer/persoonsgegevens-groen.png" alt="Gegevens icoon groen">
	<img src="images/footer/stip-groen.png" alt="Stip groen">
	<img src="images/footer/fotos-groen.png" alt="Foto icoon groen">
	<img src="images/footer/stip-groen.png" alt="Stip groen">
	<img src="images/footer/zoekopdracht-groen.png" alt="Zoek icoon groen">
	<img src="images/footer/stip-groen.png" alt="Stip groen">
	<img src="images/footer/reizen-opacity.png" alt="Reis icoon doorzichtig">
</footer>

