<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body>
    <header>
        <%- include('layout/header'); %>
    </header>
  
    <h1> <%= title %></h1>

 

    <div class='container'>
        <label class="switch">
            <input type="checkbox" checked>mathces
                <span class="slider">likes</span>
        </label>
    </div>
   
    <p> <%= results %> people liked you</p>

    <ul>
        <% people.forEach(function(people) { %>
            <li>
                <img src="images/app/girl5.svg">
               <p><%= people.name %></p> 
            </li>
        <% }); %>
    </ul>
    <footer>
        <%- include('layout/footer.ejs')%>
    </footer>
</body>
</html>