<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('layout/head'); %>
</head>
<body class="likes">
    <header>
        <%- include('layout/header'); %>
    </header>
  
    <h1> <%= title %></h1>

 

    <div class='container'>  
    <p id="likes">likes</p>
  
    <p id="matches">matches</p>        

    </div>
   
    <p> <%= results %> people liked you</p>

    <ul>
        <% people.forEach(function(people) { %>
            <li>
                <img src="images/app/girl5.svg">
               <p><%= people.name %></p> 
            </li>
        <% }); %>
    </ul>
    <script src="js/script.js"></script>
    <%- include('layout/footer.ejs')%>
</body>
</html>