<!DOCTYPE html>
<html>
    <head>
        <%- include('layout/head'); %>
    </head>
    <body class="profile">
        <header>
            <!-- header.ejs hier -->
        </header>
        <h2>Your profile</h2>
        <form class="profileAdded" action="/profile" method="POST" enctype="multipart/form-data">
            <div>
                <input type="file" id="image" name="image" value="image" accept="image/*">
                <label for="image"><img src="<%- personalDB.document.image %>" alt="profielfoto"></label>
                <label for="image">Change photo</label>
            </div>

            <div>
                <label>Name</label>
                <input type="text" id="name" name="name" value="<%- personalDB.document.name %>">
            </div>

            <div>
                <label>Countries</label>
                <select name="countries">
                    <option value="<%- personalDB.document.countries %>"><%- personalDB.document.countries %></option>
                    <% countries.forEach(function(countries) { %>
                        <option value="<%= countries.name %>">
                            <%= countries.name %>
                        </option>
                    <% }); %>
                </select>
            </div>

            <div>
                <label>Gender</label>
                <select name="gender">
                    <option value="<%- personalDB.document.gender %>"><%- personalDB.document.gender %></option>
                    <option value="Man">Man</option>
                    <option value="Woman">Woman</option>
                    <option value="Other">Other</option>
                </select>
            </div>

            <div>
                <label>Date of birth</label>
                <input value="<%- personalDB.document.birthdate %>" type="text" onfocus="(this.type='date')" id="date">
            </div>

            <div>
                <label>Favorite sport</label>
                <select name="sports">
                    <option value="<%- personalDB.document.sports %>"><%- personalDB.document.sports %></option>
                    <option value="American football">American Football</option>
                    <option value="Athletics">Athletics</option>
                    <option value="Badminton">Badminton</option>
                    <option value="Baseball">Baseball</option>
                    <option value="Basketball">Basketball</option>
                    <option value="Boxing">Boxing</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Cycling">Cycling</option>
                    <option value="Golf">Golf</option>
                    <option value="Gymnastics">Gymnastics</option>
                    <option value="Handball">Handball</option>
                    <option value="Hockey">Hockey</option>
                    <option value="Ice Hockey">Ice Hockey</option>
                    <option value="Rugby">Rugby</option>
                    <option value="Snooker">Snooker</option>
                    <option value="Soccer">Soccer</option>
                    <option value="Swimming">Swimming</option>
                    <option value="Table tennis">Table Tennis</option>
                    <option value="Tennis">Tennis</option>
                    <option value="Volleyball">Volleyball</option>
                </select>
            </div>

            <div>
                <label>Your interests</label>
                <textarea id="interests" name="interests"><%- personalDB.document.interests %></textarea>
            </div>

            <button>Make profile</button>

        </form>
        <footer>
            <!-- footer.ejs hier -->
        </footer>
        <script src="/js/script.js"></script>
    </body>
</html>